chardet==5.2.0
looptools==1.2.4
pdfrw==0.4
Pillow==9.5.0; python_version <= "3.8"
pillow==10.4.0; python_version >= "3.9"
PillowImage==1.2.0
PyBundle==1.0.6
PyMuPDF==1.22.5; python_version <= "3.7"
PyMuPDF==1.24.7; python_version >= "3.8"
PyMuPDFb==1.24.6; python_version >= "3.8"
pypdf==4.3.0
reportlab==4.2.2
tqdm==4.66.4
-r requirements-crypto.txt