databasetools==0.4.10
dill==0.2.8.2
looptools==1.0.2
multiprocess==0.70.6.1
mysql-connector==2.1.6
pdfrw==0.4
Pillow==5.2.0
psutil==5.4.7
PyBundle==1.0.2
PyMuPDF==1.13.20
PyPDF3==1.0.0
PySimpleGUI==3.4.1
reportlab==3.5.6
tqdm==4.26.0