databasetools==0.4.4
dill==0.2.8.2
looptools==0.1.9
multiprocess==0.70.6.1
mysql-connector==2.1.6
pdfrw==0.4
Pillow==5.2.0
psutil==5.4.7
PyMuPDF==1.13.18
PyPDF3==1.0.0
PySimpleGUI==2.11.0
reportlab==3.5.6
tqdm==4.25.0